{% if paginator.has_previous or  paginator.has_next %}
<nav id="pagenavi" style="text-align: -webkit-center;text-align: center;">
    {% if paginator.has_previous %}
    <a class="prev" style="width: 118px;height: 40px;background-color: #ebedee;text-align: center;color: #26455f;display: inline-block;font-family: 'novecento_sans_widenormal';font-size: 12px;top: 0;margin: 0;padding-top: 11px;" onmouseover="this.style.color='#fff';this.style.background='#f25549'" onmouseout="this.style.color='#26455f';this.style.background='#ebedee'" href="{{ paginator.previous_page_url }}">上一页</a>
    {% endif %}
    {% if paginator.has_next %}
    <a class="next" style="width: 118px;height: 40px;background-color: #ebedee;text-align: center;color: #26455f;display: inline-block;font-family: 'novecento_sans_widenormal';font-size: 12px;top: 0;margin: 0;padding-top: 11px;" onmouseover="this.style.color='#fff';this.style.background='#f25549'" onmouseout="this.style.color='#26455f';this.style.background='#ebedee'" href="{{ paginator.next_page_url}}">下一页</a>
    {% endif %}
</nav>
{% endif %}